@font-face {
  font-family: "Cavaet";
  src: url("public\fonts\Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  overflow: hidden;
  /* filter: saturate(1.15) hue-rotate(345deg); */
  background-color: #baeaf3;
  font-family: Caveat Brush, Monospace;
  font-size: 17px;
  line-height: 24px;
  overscroll-behavior: none;
}
body .container {
  position: relative;
  overflow-y: visible;
  /* z-index: 100; */
}

h1,
h2,
h3,
h4 {
  color: #ff7f50;
}
p,
span,
strong,
label,
.bi {
  color: aquamarine;
}

div ul li {
  font-weight: 700;
}

a {
  color: rgb(0 204 219);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  z-index: 100; /* TODO Solve this in HTML */
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: aquamarine;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}
.nav-item a {
  font-size: 1.2rem;
}

a,
button,
input,
select {
  pointer-events: auto;
}

.typed {
  /* width: 22ch; */
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: wrap;
  overflow: hidden;
  border-right: 3px solid;
  /* font-size: 1.5em; */
}

@media (max-width: 640px) {
  .div .ul .li .a {
    font-size: 3rem; /* 48px for smaller screens */
  }
  .hero-container {
    margin-left: 4px;
  }
  img {
    scale: 0.25;
  }
  .navbar-brand,
  .info {
    display: none;
  }
}

@media (min-width: 640px) {
  .div .ul .li .a {
    font-size: 40px; /* 40px for larger screens */
  }
  .hero-container {
    margin-left: 14px;
  }
  .hero-container p {
    font-size: 1.5rem;
  }
  img {
    scale: 0.5;
  }
}

#core {
  fill: #faf5f6;
  animation: pulse1 1.5s ease-in-out infinite;
}

#radar {
  fill: rgba(#faf5f6, 0.5);
  animation: pulse2 1.5s ease-in-out infinite;
}

@keyframes pulse1 {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  30% {
    opacity: 1;
    transform: scale(1.5);
  }

  60% {
    opacity: 1;
    transform: scale(2);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes pulse2 {
  0% {
    transform: scale(1, 1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(6, 6);
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* 
#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
} */
